@font-face {
  font-family: "IRANYekan";
  src: url("./IRANYekan.woff2") format("woff2"),
       url("./IRANYekan.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IRANYekan";
  src: url("./IRANYekan-Bold.woff2") format("woff2"),
       url("./IRANYekan-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
